body{
    background-color: #F4F4F4;
    font-family: Arial, Helvetica, sans-serif;
}

.Header{
    background-color: #0C2B4E;
    position: static;
}

.nav {
       --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;
    align-items: center;
 
}

.nav-pills{
    --bs-nav-pills-link-active-bg: none;
}
.Tekst{
    color:#0C2B4E;
}

.Beginning{
    border: 5px solid #0C2B4E;
}

.container1{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 400px 400px 400px;
}

.item1{
    grid-area: 1/2/2/4;
    border: 5px solid #0C2B4E;
    height: auto;
    border-top: 0px;
}
.item2{
    grid-area: 2/2/3/4;
    border: 5px solid #0C2B4E;
    height: 300px;
    border-top: 0px;
}
.item3{
    grid-area: 3/2/4/4;
    border: 5px solid #0C2B4E;
    height: 200px;
    border-top: 0px;
}
